* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body { font-family: sans-serif; }

.masonry {
    max-width: 100%;
    background-color: #eeeeee;
}

.masonry .album {
    width:  150px;
    height: 200px;
    float: right;
    background: #ffffff;
    margin: 30px;
    box-shadow: 0 0 5px #888888;
}
.masonry .artist {
    width:  150px;
    height: 200px;
    float: right;
    background: #ffffff;
    margin: 30px;
    box-shadow: 0 0 5px #888888;
}
.masonry .song .background{
    position:absolute;
    background: url("http://userserve-ak.last.fm/serve/300x300/97433945.png") no-repeat;
    background-size: 100%,100%;
    /* Preserve aspet ratio */
    min-width: 150px;
    min-height: 150px;
}


.searchTile {

    color: #595959;
    font-family: "Oswald",sans-serif;
    padding: 0px;

}
.masonry .album .background{
    position:absolute;
    background: url("http://userserve-ak.last.fm/serve/300x300/97433945.png") no-repeat;
    background-size: 100%,100%;
    /* Preserve aspet ratio */
    min-width: 150px;
    min-height: 150px;
}

.masonry .album  .hoverOverlay {
    position: absolute;
    background-color: black;
    width: 150px;
    height: 150px;
    opacity: 0;
    z-index: 9999;

    -webkit-transition: all 80ms linear;
    -moz-transition: all 80ms linear;
    -ms-transition: all 80ms linear;
    -o-transition: all 80ms linear;
    transition: all 80ms linear;
    color:#ffffff;
}

.masonry .album  .hoverOverlay .playButton {
    bottom: 0;
    font-size: 70px;
    height: 65px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    cursor: pointer;

}
.masonry .album  .hoverOverlay .listButton {
    bottom: 10px;
    font-size: 20px;
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 40px;
    cursor: pointer;
}


.searchTile .mainText {
       font-size: 17px;
}
.searchTile .subText {
font-size: 9px;
}

.searchTile .metaGroup {
    bottom: 0px;
    position: absolute;
    width: 100%;
    padding: 10px;

}


