
#index_leftPane {

    background-color: #002739;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: 100%;
    width: 292px;
}

.smallBlueText {
    color: #5075AA;
    font-size: 12px;
}

.largeThinText {
    font-size: 18px;
}

.indentLevel1 {
    padding-left: 35px;
}

.indentLevel2 {
    padding-left: 53px;
}

.leftPane {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.leftPane .title {

    font-size: 40px;
    padding-top:20px;
}

.leftPane .searchBox {
    color:red !important;
    font-size: 29px;
}

.leftPane .main {
    padding-top: 0;
}

.leftPane .genres .heading {
    font-size: 20px;
    padding-top: 22px;
}

.leftPane .genres .genreName {
    padding-top: 0;
}

.leftPane .playlists .heading {
    font-size: 20px;
    padding-top: 22px;
}

.leftPane .playlists .playlistName {
    padding-top: 0;
}

.nowPlaying {
    bottom: 54px;
    position: absolute;
}

.nowPlaying .coverArt {
    background: #5075AA url("http://upload.wikimedia.org/wikipedia/en/9/9d/Get_Rich_Or_Die_Tryin%27.JPG");
    height: 292px;
    width: 292px;
}

.nowPlaying .songInfo {
    padding-left: 6px;
}

.nowPlaying .songInfo .name {
    padding-top: 4px;
}

.nowPlaying .songInfo .albumArtist {
    color: #5075AA;
    font-size: 15px;
}

.leftPane .active {
    background-color: #001828;
}

.leftPane .hoverItem:hover {
    background-color: #001F31;
    cursor: pointer;
}

.leftPane .noCursor {
    cursor: default;
}

.scrollingSidebar {

    bottom: 0;
    height: calc(100% - 487px);
    overflow-x: hidden;
    overflow-y: scroll;
}



